<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>

   <ul>
      <li><a href="/Html/login.html">/Html/login.html</a></li>
      <li><a href="/Html/sign-up.html">/Html/sign-up.html</a></li>
      <li><a href="/Html/home.html">/Html/home.html</a></li>
      <li><a href="/Html/shops.html">/Html/shops.html</a></li>
      <li><a href="/Html/single-producat.html">/Html/single-producat.html</a></li>
      <li><a href="/Html/notfound.html">/Html/notfound.html</a></li>
      <li><a href="/Html/contact.html">/Html/contact.html</a></li>
      <li><a href="/Html/aboutus.html">/Html/aboutus.html</a></li>
   </ul>

</body>

</html>